body{
	margin-left: 20px;
	margin-right:20px;
	backgroud-color:red;
}

#header,#footer{
 background-color:#E0E0E0;
 margin-top: 20px;
 margin-left: 20px;
 margin-right:20px;
 padding-top:10px;
 
}  
#decbody{
	margin-left: 20px;
	margin-right:20px;
    background: linear-gradient(to right, 
                    rgba(105,105,105,0) 0%, 
                    rgba(105,105,105,0.2) 50%, 
                    rgba(105,105,105,0.3) 100%);
    color: black;
}

.disTable{
	 margin-top: 40px;
}

/* styling for all pages  */
.container-other {    	
    max-width: 80%;
}
.form{
	margin-top:20px;
}

// format  validation error
#titlevalid{
	color:red;
}


